.search {
     outline: none;
     border-radius: 10px;
     overflow: hidden;

}

.search:focus {
     border: 1px solid rgb(12, 122, 247);
}




.addTodoCard {
     background: rgb(12, 122, 247);
     color: white;
     padding: 10px 5px;
     border-radius: 15px;


}

.addTodoCard span {
     font-size: 18px;
     font-weight: 400;
     text-transform: uppercase;
}


table {
     border-collapse: collapse;
     width: 100%;
}


/* Table header styles */
thead {
     background-color: #f2f2f2;
     overflow-x: scroll;
}

th {
     padding: 10px;
     text-align: left;
}

/* Table data (cell) styles */
td {
     padding: 10px;
     margin: 8px 0;

}

/* Alternate row background color */
tbody tr:nth-child(even) {
     background-color: #f2f2f2;
}

/* Hover effect on rows */


/* detail 
 */


/* Styles for screens with a minimum width of 601 pixels and a maximum width of 900 pixels */
@media (max-width: 600px) {

     .addNewToDo {
          color: white;
          display: block;
          justify-content: center;
          align-items: center;

     }
}


@media (min-width: 601px) and (max-width: 900px) {

     .addNewToDo {
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;

     }
}

/* Styles for screens with a minimum width of 901 pixels */
@media (min-width: 901px) {
     .addNewToDo {
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;

     }
}

/* Styles for screens with a maximum width of 768 pixels and a landscape orientation */
@media (max-width: 768px) and (orientation: landscape) {
     .addNewToDo {
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;

     }
}