.inputFild {
     border: 1px solid rgb(65, 62, 62);
     padding: 5px;
     border-radius: 4px;
     position: relative;
}

.inputFild p {
     position: absolute;
     background-color: white;
     font-size: 15px;
     font-weight: 300;
     top: -12px;
     border-radius: 4px;
     left: 5px;
     padding: 0 10px;
     border: 1px solid rgb(58, 56, 56);

}

.inputFild div {
     width: 100%;
     position: relative;

     padding: 20px;
}



